<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shayaridb?autoReconnect=true&amp;useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8</property> -->
		<!-- <property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.show_sql">true</property>  --> 
		
		<property name="hibernate.connection.url">jdbc:mysql://10.1.17.16:3306/shayaridb?autoReconnect=true&amp;useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8</property>
		<property name="hibernate.connection.username">shayariuser</property>
		<property name="hibernate.connection.password">shayaripassword</property>
		<property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property> 
		
		<!-- List of XML mapping files -->
		<mapping resource="content.hbm.xml"/>
		<mapping resource="category.hbm.xml"/>
		<mapping resource="likes.hbm.xml"/>
		
		
		
	</session-factory>
</hibernate-configuration>